    <!-- footer start -->
    <footer id="footer" class="footer" style="background-color: #33A1E0;">
  
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <!-- <a href="index.html" class="d-flex align-items-center">
              <span class="sitename">Ukonga Skillful</span>
            </a> -->
            <div class="footer-contact">
                <h4>Address:-</h4>
              <p><strong>Postal Address:</strong></p>
              <p>P.O Box 28, Shinyanga, Tanzania.</p>
              <p class="mt-3"><strong>Phone Number:</strong> <span>0711 471 303</span></p>
              <p><strong>Email:</strong> <span>marginalizedcommunity@gmail.com</span></p>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-3 footer-links">
            <h4>Useful Links:-</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-3 footer-links">
            <h4>Our Services:-</h4>
            <ul>
              <li><a href="#">Gender Protection</a></li>
              <li><a href="#">Healty Initiative</a></li>
              <li><a href="#">Study Materials</a></li>
              <li><a href="#">Schools Support</a></li>
            </ul>
          </div>
  
        </div>
      </div>
  
      <div class="container copyright text-center pb-2">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">The Voice Of Marginalized Community</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
          Designed by <a class="text-ligght text-muted" href="#">JboscoFr</a>
        </div>
      </div>
  
    </footer>
