{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="container py-4">
        <div class="row justify-content-between">
            <div class="col-md-5 border">
                <div class="latest">
                    <h3>Latest</h3>
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/thumbnail.jpg' %}" alt="">
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae mollitia laudantium voluptatum nam accusantium.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border">
                <div class="top-read">
                    <h3>Top Read</h3>
                    <div class="news">
                        <img src="{% static 'images/school.jpg' %}" alt="" style="float: left; height: 100%; width: 100px; display: block;">
                        <div class="caption">
                            <div class="heading">Lorem ipsum dolor sit, amet consectetur adipisicing. Lorem, ipsum dolor. Lorem ipsum dolor sit amet.</div>
                            <p>Posted: 24 Nov 2025 | reads 204</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                                    <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                                <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                                <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                                <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                                <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                                <div class="col-md-4">
                    <div class="news">news</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}