{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.heading h3{
    font-size: 2.6rem;
    font-weight: 700;
    padding: 1rem 2.6rem;
}

.program-card .img img{
    height: 280px;
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 0.6rem;
}

</style>

<section>
    <div class="container-fluid p-0 m-0">
        <img src="{% static 'images/bg-banner.jpg' %}" alt="" style="height: 260px; width: 100%;">
    </div>
</section>
<section>
    <div class="container py-4">
        <div class="row justify-content-around p-3 gy-4">
            <div class="heading mb-3">
                <h3>We empower a community that respects the rights of children, women, and youth. </h3>
            </div>
            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/school.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Safe Schools and Life Skills</h4>
                    <div class="decriptions">
                        <p>Safe Schools and Life Skills is a key program area for TVMC, focusing on the protection and safety of children. The program's goal is to create a secure environment where children can thrive, free from harm. It includes a focus on Gender-Based Violence (GBV) and the prevention of harmful traditional practices, promoting positive norms and values within the community. This initiative also involves parenting, family support, and building strong relationships to ensure a holistic approach to child protection. Through these efforts, TVMC aims to foster a safe and supportive educational environment for children and youth</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/g-violence.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Gender-Based Violence</h4>
                    <div class="decriptions">
                        <p>Gender-Based Violence (GBV) is one of the core program areas for The Voice of Marginalized Community (TVMC). The organization's approach is to develop and strengthen understanding of the impact of domestic violence against women, children, and youth. TVMC mobilizes communities to act locally toward its prevention. They also provide legal aid services and support services to address and respond to GBV. Furthermore, TVMC works to promote human rights-based, stigma-free legal and policy environments and fosters gender-transformative programming in their activities</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/health.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Health Initiatives.</h4>
                    <div class="decriptions">
                        <p>TVMC's Health Initiatives focus on several key areas to improve community well-being. [cite_start]The organization's programs are designed to address critical health issues, particularly those affecting vulnerable populations. TB Epidemic, Malaria and Nutrition, HIV/AIDS, Maternal and Child Health</p>
                    </div>
                </div>
            </div>

                        <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/health.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Advocacy.</h4>
                    <div class="decriptions">
                        <p>TVMC's advocacy efforts are primarily focused on two areas</p>
                        <ul>
                            <li>Harmful Traditional Practices: TVMC advocates against harmful traditional practices within communities, aiming to change social norms and values.</li>
                            <li>Human Rights: They seek to create a strong voice for young people to actively demand their legal and human rights. [cite_start]This is done using a solutions-focused approach that empowers young people to solve their own problems.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

