{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.heading h3{
    font-size: 2.6rem;
    font-weight: 700;
    padding: 1rem 2.6rem;
}

</style>

<section>
    <div class="container-fluid p-0 m-0">
        <img src="{% static 'images/bg-banner.jpg' %}" alt="" style="height: 260px; width: 100%;">
    </div>
</section>
<section>
    <div class="container py-4">
        <div class="row justify-content-around p-3 gy-4">
            <div class="heading mb-3">
                <h3>We empower a community that respects the rights of children, women, and youth. </h3>
            </div>
            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/school.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Safe Schools and Life Skills</h4>
                    <div class="decriptions">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dignissimos nostrum, nemo quas minus similique, id culpa eius corporis modi adipisci odit molestiae. Cum pariatur velit, officiis harum quod architecto voluptate distinctio facilis aperiam similique nostrum nulla a hic natus!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/g-violence.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Gender-Based Violence</h4>
                    <div class="decriptions">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dignissimos nostrum, nemo quas minus similique, id culpa eius corporis modi adipisci odit molestiae. Cum pariatur velit, officiis harum quod architecto voluptate distinctio facilis aperiam similique nostrum nulla a hic natus!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="program-card">
                    <div class="img">
                        <img class="img-fluid" src="{% static 'images/health.jpg' %}" alt="">
                    </div>
                    <h4 class="title">Health Initiatives.</h4>
                    <div class="decriptions">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dignissimos nostrum, nemo quas minus similique, id culpa eius corporis modi adipisci odit molestiae. Cum pariatur velit, officiis harum quod architecto voluptate distinctio facilis aperiam similique nostrum nulla a hic natus!</p>
                    </div>
                </div>
            </div>

                        <div class="col-md-5">
                <div class="program-card">
                    <h4 class="title">Advocacy.</h4>
                    <div class="decriptions">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dignissimos nostrum, nemo quas minus similique, id culpa eius corporis modi adipisci odit molestiae. Cum pariatur velit, officiis harum quod architecto voluptate distinctio facilis aperiam similique nostrum nulla a hic natus!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

